<a href="https://colab.research.google.com/github/abenben/starproject-python/blob/master/tutorial09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python基礎講座（8日目）**

* [「Python・ブロックチェーン講座」の日程](https://www.facebook.com/photo.php?fbid=1186715631679052&set=gm.752573365315679&type=3&theater&ifg=1)

---
---
---
本日の講義（データ処理）
---
---
---
---

# 1.データベース

## 1.1 リレーショナルデータベースをPythonから操作しよう

[シェル実行] チュートリアルの事前準備（不要ファイルの削除）

In [2]:
!rm -r test.db

[シェル実行] リレーショナルデータベース（SQLite）のインストール

In [3]:
!sudo apt-get install -y sqlite3

Reading package lists... Done
Building dependency tree
Reading state information... Done
sqlite3 is already the newest version (3.22.0-1ubuntu0.4).
0 upgraded, 0 newly installed, 0 to remove and 14 not upgraded.

1.1.0 パッケージのインポート


```python
[プログラム]
import sqlite3
```

（コードを実際に実行してみましょう）

In [4]:
import sqlite3

何のドメイン（業務やサービスの種類）かに併せてデータベース名を決める

In [5]:
dbname = 'test.db'

### 1.1.1 データベース作成

In [6]:
dbname = 'test.db'
con=sqlite3.connect(dbname)

[シェル実行] コマンドからテーブルの有無を確認

In [7]:
!sqlite3 test.db ".tables"

### 1.1.2 テーブル作成（DDL）

In [8]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "create table fruits(name text, price int);"
cur.execute(sql)
con.close()

[シェル実行] コマンドからテーブルの有無を確認

In [9]:
!sqlite3 test.db ".tables"

fruits

###1.1.3 データ追加（DML）

#### 1.1.3(a) 1レコード追加

In [10]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "insert into fruits values('apple', 100)"
cur.execute(sql)

# コミット（DCL：制御の確定）
con.commit()
con.close()

[シェル実行] コマンドから fruits テーブルの内容を確認

In [11]:
!sqlite3 test.db "select * from fruits"

apple|100

####1.1.3(b) 一括追加

In [12]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "insert into fruits values('apple', 100)"
cur.executemany("insert into fruits values(?, ?)", [('orange', 150), ('banana', 200), ('melon', 800)])

# コミット（DCL：制御の確定）
con.commit()
con.close()

[シェル実行] コマンドから fruits テーブルの内容を確認

In [13]:
!sqlite3 test.db "select * from fruits"

apple|100
orange|150
banana|200
melon|800

### 1.1.4 データ参照（DML）

#### 1.1.4(a) 全権取得

In [14]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "select * from fruits"
cur.execute(sql)
for row in cur:
    print(row[0], row[1])
con.close()

apple 100
orange 150
banana 200
melon 800

#### 1.1.4(b) 検索条件を指定して取得

In [15]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "select * from fruits where name = 'banana'"
cur.execute(sql)
for row in cur:
    print(row[0], row[1])
con.close()

banana 200

### 1.1.5 データ更新（DML）

メロン値上げ

In [16]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "update fruits set price = 900 where name = 'melon'"
cur.execute(sql)

# コミット（DCL：制御の確定）
con.commit()
con.close()

[シェル実行] コマンドから fruits テーブルの内容を確認

In [17]:
!sqlite3 test.db "select * from fruits"

apple|100
orange|150
banana|200
melon|900

### 1.1.6 データ削除（DML）

オレンジはいらない

In [20]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "delete from fruits where name = 'orange'"
cur.execute(sql)

# コミット（DCL：制御の確定）
con.commit()
con.close()

[シェル実行] コマンドから fruits テーブルの内容を確認

In [19]:
!sqlite3 test.db "select * from fruits"

apple|100
banana|200
melon|900

### 1.1.7 テーブル削除（DDL）

In [21]:
con=sqlite3.connect(dbname)
cur = con.cursor()
sql = "drop table fruits"
cur.execute(sql)
con.close()

[シェル実行] コマンドからテーブルの有無を確認

In [22]:
!sqlite3 test.db ".tables"

---
---
---
---
---
---
---
# 補足 Pythonの公式な言語リファレンス

* 公式なマニュアルはこちらですが、内容は難しいので最初はわかりやすい情報や、本などを参考にしましょう。
* 英語
 * https://docs.python.org/3/reference/index.html
* 日本語
 * https://docs.python.org/ja/3/reference/index.html