<a href="https://colab.research.google.com/github/abenben/starproject-python/blob/master/tutorial07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python基礎講座（6日目）**

* [「Python・ブロックチェーン講座」の日程](https://www.facebook.com/photo.php?fbid=1186715631679052&set=gm.752573365315679&type=3&theater&ifg=1)

---
---
---
本日の講義（データ処理）
---
---
---
---

# 1.Pandas（Series編）

## 1.0 宣言

pandas

```python
▶ import pandas as pd
```

（コードを実際に実行してみましょう）

In [ ]:
# （実行しましょう）
import pandas as pd

## 1.1 シリーズ

### 1.1.1(a) 生成（その1)

```python
>>> ser = pd.Series([10, 20, 30, 40])
>>> print(ser)
0    10
1    20
2    30
3    40
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(b) 生成（その2)

```python
>>> height = [170,172,165,180,174]
>>> ser = pd.Series(height)
>>> print(ser)
0    10
1    20
2    30
3    40
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(c) 生成（その3)

```python
>>> import numpy as np
>>> height = np.array([170,172,165,180,174])
>>> ser = pd.Series(height)
>>> print(ser)
0    170
1    172
2    165
3    180
4    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d) 生成（その4)

```python
>>> name = ['sato','suzuki','tanaka','kato','watanabe']
>>> height = [170,172,165,180,174]
>>> ser = pd.Series(height,index=name)
>>> print(ser)
sato 170
suzuki 172
tanaka 165
kato 180
watanabe 174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d-2) ラベル取得

```python
>>> print(ser.index)
Index(['sato', 'suzuki', 'tanaka', 'kato', 'watanabe'], dtype='object')
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d) 生成（その5)

```python
>>> dic = { 'sato':170, 'suzuki':172, 'tanaka':165, 'kato':180, 'watanabe':174 }
>>> ser = pd.Series(dic)
>>> print(ser)
sato        170
suzuki      172
tanaka      165
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(a) データ参照1

```python
>>> print(ser.index)
165
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(b) データ参照2

```python
>>> ser['suzuki':'kato']
suzuki    172
tanaka    165
kato      180
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(c) データ参照3

```python
>>> print(ser['tanaka'])
>>> print(ser.iloc[2])
165
165
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(d) データ参照4

```python
>>> ser[ser > 170]
suzuki      172
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.3(a) 演算1

```python
>>> print("*** 乗算 ***")
>>> print(ser * 2)
>>> print("*** 元データは変わっていない ***")
>>> print(ser)
*** 乗算 ***
sato        340
suzuki      344
tanaka      330
kato        360
watanabe    348
dtype: int64
*** 元データは変わっていない ***
sato        170
suzuki      172
tanaka      165
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.3(b) 演算2

```python
>>> ser *= 2
>>> print(ser)
乗算追加
sato        340
suzuki      344
tanaka      330
kato        360
watanabe    348
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(a) 要素の追加

```python
>>> #初期データの準備
>>> dic = { 'abe':70, 'inoue':65, 'ueda':76 }
>>> ser = pd.Series(dic)
>>> print(ser)
abe      70
inoue    65
ueda     76
dtype: int64
```

In [ ]:
# （このまま実行：初期データの準備）
dic = { 'abe':70, 'inoue':65, 'ueda':76 }
ser = pd.Series(dic)
print(ser)

abe      70
inoue    65
ueda     76
dtype: int64

```python
>>> ser2=pd.Series([79,52],index=['endo','okada'])
>>> print(ser.append(ser2))
abe      70
inoue    65
ueda     76
endo     79
okada    52
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(b) 要素の変更

```python
>>> ser['abe':'inoue']=72
>>> ser
abe      72
inoue    72
ueda     76
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(c) 要素の削除

```python
>>> del ser['abe']
>>> ser
noue    65
ueda     76
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.5 重複データの削除

```python
>>> # （このまま実行：初期データの準備）
>>> dic = { 'A':1, 'B':2, 'C':3, 'D':1, 'E':5 }
>>> ser = pd.Series(dic)
>>> ser
A    1
B    2
C    3
D    1
E    5
dtype: int64
```

In [ ]:
# （このまま実行：初期データの準備）

```python
>>> ser.drop_duplicates(keep='first')
A    1
B    2
C    3
E    5
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
ser.drop_duplicates(keep='first')

A    1
B    2
C    3
E    5
dtype: int64

### 1.1.6 欠損データの削除

```python
>>> # （このまま実行：初期データの準備）
>>> dic = { 'A':1, 'B':np.nan, 'C':3, 'D':4, 'E':5 }
>>> ser = pd.Series(dic)
>>> ser
A    1.0
B    NaN
C    3.0
D    4.0
E    5.0
dtype: float64
```

In [ ]:
# （このまま実行：初期データの準備）
dic = { 'A':1, 'B':np.nan, 'C':3, 'D':4, 'E':5 }
ser = pd.Series(dic)
ser

A    1.0
B    NaN
C    3.0
D    4.0
E    5.0
dtype: float64

```python
>>> ser.dropna()
A    1.0
C    3.0
D    4.0
E    5.0
dtype: float64
```

（コードを書いて実際に確認してみよう）

In [ ]:
ser.dropna()

A    1.0
C    3.0
D    4.0
E    5.0
dtype: float64

### 1.1.7 統計量

```python
>>> dic = { 'sato':170, 'suzuki':172, 'tanaka':165, 'kato':180, 'watanabe':174 }
>>> ser = pd.Series(dic)
>>> ser.describe()
count      5.000000
mean     172.200000
std        5.495453
min      165.000000
25%      170.000000
50%      172.000000
75%      174.000000
max      180.000000
dtype: float64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

---
---
---
---
---
# 2.Pandas（DataFrame編）

## 2.1 xxx

### 2.1.1 xxx


```python
▶ 
▶ 
▶ 
▶ 
▶ 





```
（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

## 2.2 xxx

### 2.2.1 xxx

```python
▶ 
▶ 
▶ 
▶ 
▶ 





```
（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

---
---
---
---
---
---
---
# 補足 Pythonの公式な言語リファレンス

* 公式なマニュアルはこちらですが、内容は難しいので最初はわかりやすい情報や、本などを参考にしましょう。
* 英語
 * https://docs.python.org/3/reference/index.html
* 日本語
 * https://docs.python.org/ja/3/reference/index.html

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://ckan.pf-sapporo.jp/dataset/5d3c18f1-62dc-4ce2-b73e-75d8c54f86a0/resource/ffd6b3ca-1f56-468c-b809-dbc94a033b14/download/jou202010.csv", index_col=1)

In [ ]:
df

                区別      世帯数       総数       男        女
町条丁目
大通東２丁目         中央区      149      278     124      154
大通東３丁目         中央区      292      432     229      203
大通東４丁目         中央区      190      303     129      174
大通東５丁目         中央区      216      259     116      143
大通東６丁目         中央区      135      265     110      155
...            ...      ...      ...     ...      ...
明日風５丁目         手稲区      409     1226     606      620
明日風６丁目         手稲区       41      128      58       70
明日風            手稲区     1443     4383    2160     2223
　　　合　　　　計      手稲区    70205   141932   66867    75065
全 市 Ｔ Ｏ Ｔ Ａ Ｌ  全　区  1078155  1961682  916779  1044903

[5594 rows x 5 columns]

In [ ]:
df=df.drop(index="全市")

In [ ]:
df

          世帯数   人口の総数   男の人口   女の人口
連絡所
中央区     92682  174124  80086  94038
大通公園     3646    5321   2277   3044
東北       1209    2222   1007   1215
苗穂       1781    3574   1671   1903
東        2395    3880   1738   2142
...       ...     ...    ...    ...
前田      10797   29911  14544  15367
新発寒      6322   18319   9065   9254
富丘西宮の沢   9108   23076  11145  11931
稲穂       6562   17400   8351   9049
星置       5088   14869   7037   7832

[97 rows x 4 columns]

In [ ]:
df.describe()

                 世帯数          人口の総数           男の人口           女の人口
count      97.000000      97.000000      97.000000      97.000000
mean    16417.298969   37029.154639   17809.257732   19219.896907
std     23419.614183   51735.511269   24948.055728   26798.422837
min      1173.000000    2004.000000     936.000000    1068.000000
25%      6562.000000   16131.000000    7648.000000    8283.000000
50%      9674.000000   21333.000000   10015.000000   11226.000000
75%     13304.000000   29901.000000   14544.000000   15532.000000
max    113182.000000  256419.000000  124429.000000  131990.000000

In [ ]:
df.sum()

世帯数      1592478
人口の総数    3591828
男の人口     1727498
女の人口     1864330
dtype: int64