<a href="https://colab.research.google.com/github/abenben/starproject-python/blob/master/tutorial06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python基礎講座（6日目）**

* [「Python・ブロックチェーン講座」の日程](https://www.facebook.com/photo.php?fbid=1186715631679052&set=gm.752573365315679&type=3&theater&ifg=1)

---
---
---
本日の講義（データ処理）
---
---
---
---

# 1.Pandas（Series編）

## 1.0 宣言

pandas

```python
▶ import pandas as pd
```

（コードを実際に実行してみましょう）

In [2]:
# （実行しましょう）
import pandas as pd

## 1.1 シリーズ

### 1.1.1(a) 生成（その1)

```python
>>> ser = pd.Series([10, 20, 30, 40])
>>> print(ser)
0    10
1    20
2    30
3    40
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(b) 生成（その2)

```python
>>> height = [170,172,165,180,174]
>>> ser = pd.Series(height)
>>> print(ser)
0    10
1    20
2    30
3    40
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(c) 生成（その3)

```python
>>> import numpy as np
>>> height = np.array([170,172,165,180,174])
>>> ser = pd.Series(height)
>>> print(ser)
0    170
1    172
2    165
3    180
4    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d) 生成（その4)

```python
>>> name = ['sato','suzuki','tanaka','kato','watanabe']
>>> height = [170,172,165,180,174]
>>> ser = pd.Series(height,index=name)
>>> print(ser)
sato 170
suzuki 172
tanaka 165
kato 180
watanabe 174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d-2) ラベル取得

```python
>>> print(ser.index)
Index(['sato', 'suzuki', 'tanaka', 'kato', 'watanabe'], dtype='object')
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.1(d) 生成（その5)

```python
>>> dic = { 'sato':170, 'suzuki':172, 'tanaka':165, 'kato':180, 'watanabe':174 }
>>> ser = pd.Series(dic)
>>> print(ser)
sato        170
suzuki      172
tanaka      165
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(a) データ参照1

```python
>>> print(ser.index)
165
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(b) データ参照2

```python
>>> ser['suzuki':'kato']
suzuki    172
tanaka    165
kato      180
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(c) データ参照3

```python
>>> print(ser['tanaka'])
>>> print(ser.iloc[2])
165
165
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2(d) データ参照4

```python
>>> ser[ser > 170]
suzuki      172
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.3(a) 演算1

```python
>>> print("*** 乗算 ***")
>>> print(ser * 2)
>>> print("*** 元データは変わっていない ***")
>>> print(ser)
*** 乗算 ***
sato        340
suzuki      344
tanaka      330
kato        360
watanabe    348
dtype: int64
*** 元データは変わっていない ***
sato        170
suzuki      172
tanaka      165
kato        180
watanabe    174
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.3(b) 演算2

```python
>>> ser *= 2
>>> print(ser)
乗算追加
sato        340
suzuki      344
tanaka      330
kato        360
watanabe    348
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(a) 要素の追加

```python
>>> #初期データの準備
>>> dic = { 'abe':70, 'inoue':65, 'ueda':76 }
>>> ser = pd.Series(dic)
>>> print(ser)
abe      70
inoue    65
ueda     76
dtype: int64
```

In [ ]:
# （このまま実行：初期データの準備）
dic = { 'abe':70, 'inoue':65, 'ueda':76 }
ser = pd.Series(dic)
print(ser)

abe      70
inoue    65
ueda     76
dtype: int64

```python
>>> ser2=pd.Series([79,52],index=['endo','okada'])
>>> print(ser.append(ser2))
abe      70
inoue    65
ueda     76
endo     79
okada    52
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(b) 要素の変更

```python
>>> ser['abe':'inoue']=72
>>> ser
abe      72
inoue    72
ueda     76
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.4(c) 要素の削除

```python
>>> del ser['abe']
>>> ser
noue    65
ueda     76
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.5 重複データの削除

```python
>>> # （このまま実行：初期データの準備）
>>> dic = { 'A':1, 'B':2, 'C':3, 'D':1, 'E':5 }
>>> ser = pd.Series(dic)
>>> ser
A    1
B    2
C    3
D    1
E    5
dtype: int64
```

In [20]:
# （このまま実行：初期データの準備）
dic = { 'A':1, 'B':2, 'C':3, 'D':1, 'E':5 }
ser = pd.Series(dic)
ser

```python
>>> ser.drop_duplicates(keep='first')
A    1
B    2
C    3
E    5
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [21]:
# （ここに記述）

### 1.1.6 欠損データの削除

```python
>>> # （このまま実行：初期データの準備）
>>> dic = { 'A':1, 'B':np.nan, 'C':3, 'D':4, 'E':5 }
>>> ser = pd.Series(dic)
>>> ser
A    1.0
B    NaN
C    3.0
D    4.0
E    5.0
dtype: float64
```

In [ ]:
# （このまま実行：初期データの準備）
dic = { 'A':1, 'B':np.nan, 'C':3, 'D':4, 'E':5 }
ser = pd.Series(dic)
ser

A    1.0
B    NaN
C    3.0
D    4.0
E    5.0
dtype: float64

```python
>>> ser.dropna()
A    1.0
C    3.0
D    4.0
E    5.0
dtype: float64
```

（コードを書いて実際に確認してみよう）

In [22]:
# （ここに記述）

### 1.1.7 統計量

```python
>>> dic = { 'sato':170, 'suzuki':172, 'tanaka':165, 'kato':180, 'watanabe':174 }
>>> ser = pd.Series(dic)
>>> ser.describe()
count      5.000000
mean     172.200000
std        5.495453
min      165.000000
25%      170.000000
50%      172.000000
75%      174.000000
max      180.000000
dtype: float64
```

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

---
---
---
---
---
## 1.2.DataFrame編

### 1.2.1(a) 生成（その1)

```python
>>> df = pd.DataFrame([[10, "a", True],
>>> [20, "b", False,],
>>> [30, "c", False],
>>> [40, "d", True]])
>>> df
	0	1	2
0	10	a	True
1	20	b	False
2	30	c	False
3	40	d	Tru
```

（コードを書いて実際に確認してみよう）

In [23]:
# （ここに記述）

### 1.2.1(b) 生成（その2)

```python
>>> val = ['a',1,0.5]
>>> df = pd.DataFrame(val)
>>> df
	0
0	a
1	1
2	0.5
```

（コードを書いて実際に確認してみよう）

In [24]:
# （ここに記述）

### 1.2.1(c) 生成（その3)

```python
>>> val = [[1,2,3],[4,5,6]]
>>> df = pd.DataFrame(val, index=['a','b'], columns=['c','d','e'])
>>> df
	c	d	e
a	1	2	3
b	4	5	6
```

（コードを書いて実際に確認してみよう）

In [25]:
# （ここに記述）

### 1.2.1(d) 生成（その4)

```python
>>> dic = {'a':[1,2,3], 'b':[4,5,6]}
>>> df = pd.DataFrame(dic)
>>> df
	a	b
0	1	4
1	2	5
2	3	6
```

（コードを書いて実際に確認してみよう）

In [26]:
# （ここに記述）

### 1.2.1(e) 生成（その5)

```python
>>> age_data = pd.Series([19,22,20], index=['sato','tanaka','suzuki'])
>>> sex_data = pd.Series(['F','M','F'], index=['sato','suzuki','watanabe'])
>>> df = pd.DataFrame({'age':age_data, 'sex':sex_data})
>>> df
	age	sex
sato	19.0	F
suzuki	20.0	M
tanaka	22.0	NaN
watanabe	NaN	F
```

（コードを書いて実際に確認してみよう）

In [27]:
# （ここに記述）

### 1.2.1(g) 生成（その6)

```python
>>> dics = {
>>>     'age':{'sato':19,'tanaka':22,'suzuki':20},
>>>     'sex':{'sato':'F','suzuki':'M','watanabe':'F'}
>>> }
>>> df = pd.DataFrame(dics)
>>> df
age	sex
sato	19.0	F
tanaka	22.0	NaN
suzuki	20.0	M
watanabe	NaN	F
```

（コードを書いて実際に確認してみよう）

In [28]:
# （ここに記述）

### 1.2.2 CSVファイル読み込み

札幌の住民基本台帳に基づく人口・世帯数のデータ

https://ckan.pf-sapporo.jp/dataset/juuki_3

今回は直近データを利用

https://ckan.pf-sapporo.jp/dataset/juuki_3/resource/0173c5fe-d7f6-4282-af39-a179addd6419

CSVファイルを読み込みます。ディスクからでもWebでも読み込めます。

```python
>>> df = pd.read_csv("https://ckan.pf-sapporo.jp/dataset/74351e60-a426-4ac1-b0cc-56cbcbbb9e92/resource/0173c5fe-d7f6-4282-af39-a179addd6419/download/ren202010.csv", index_col=0)
>>> df
世帯数	人口の総数	男の人口	女の人口
まちづくりセンター				
全市	1078155	1961682	916779	1044903
中央区	145872	239858	108663	131195
本府・中央	1565	2234	1005	1229
東北	5426	8513	3960	4553
苗穂	3056	5284	2415	2869
...	...	...	...	...
前田	14089	28237	13345	14892
新発寒	8586	18608	8969	9639
富丘西宮の沢	13293	25815	12037	13778
稲穂金山	8458	16873	7958	8915
星置	7240	15894	7472	8422
```

（コードを書いて実際に確認してみよう）

In [86]:
# （ここに記述）

### 1.2.2_a クリーニング

データのクリーニングを行います。
今回は不要な行（行インデックスが"全市"）を削除します。

```python
>>> df.drop("全市",inplace=True)
>>> df
	世帯数	人口の総数	男の人口	女の人口
まちづくりセンター				
中央区	145872	239858	108663	131195
本府・中央	1565	2234	1005	1229
東北	5426	8513	3960	4553
苗穂	3056	5284	2415	2869
東	6724	9404	4312	5092
...	...	...	...	...
前田	14089	28237	13345	14892
新発寒	8586	18608	8969	9639
富丘西宮の沢	13293	25815	12037	13778
稲穂金山	8458	16873	7958	8915
星置	7240	15894	7472	8422
```

（コードを書いて実際に確認してみよう）

In [87]:
# （ここに記述）

### 1.2.2_b 集計

列ごとにデータを集計してみます

```python
>>> df.sum()
世帯数      2156310
人口の総数    3923364
男の人口     1833558
女の人口     2089806
dtype: int64
```

（コードを書いて実際に確認してみよう）

In [88]:
# （ここに記述）

### 1.2.2_c 統計量

統計量を確認します。
describeは指数で表示されるので、pandas全体の表示フォーマットを変更します。

```python
>>> pd.options.display.float_format = '{:.1f}'.format
>>> df.describe()
世帯数	人口の総数	男の人口	女の人口
count	97.0	97.0	97.0	97.0
mean	22230.0	40447.1	18902.7	21544.4
std	31862.0	57149.5	26745.7	30417.0
min	813.0	1099.0	549.0	550.0
25%	8430.0	16611.0	7645.0	8915.0
50%	14089.0	23917.0	11317.0	12923.0
75%	17928.0	33454.0	15228.0	17890.0
max	153699.0	285784.0	135802.0	149982.0
```

（コードを書いて実際に確認してみよう）

In [89]:
# （ここに記述）

### 1.2.2_d グラフに表示する

pandasからグラフを表示できます。
※日本語フォントがないと警告が出たり、文字化けします。

```python
>>> import matplotlib.pyplot as plt
>>> df['世帯数'].plot(kind="bar")
>>> plt.show()
```

（コードを書いて実際に確認してみよう）

In [90]:
# （ここに記述）

---
---
---
---
---
---
---
# 補足 Pythonの公式な言語リファレンス

* 公式なマニュアルはこちらですが、内容は難しいので最初はわかりやすい情報や、本などを参考にしましょう。
* 英語
 * https://docs.python.org/3/reference/index.html
* 日本語
 * https://docs.python.org/ja/3/reference/index.html