<a href="https://colab.research.google.com/github/abenben/starproject-python/blob/master/tutorial08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python基礎講座（8日目）**

* [「Python・ブロックチェーン講座」の日程](https://www.facebook.com/photo.php?fbid=1186715631679052&set=gm.752573365315679&type=3&theater&ifg=1)

---
---
---
本日の講義（データ処理）
---
---
---
---

# 1.Pandas（ファイル入出力編）

## 1.0 宣言

pandas

```python
[プログラム]
import pandas as pd
```

（コードを実際に実行してみましょう）

In [2]:
# （実行しましょう）
import pandas as pd

## 1.1 ファイル読み込み

### 1.1.1 CSV、TSVファイル読み込み

* CSV、TSVファイルの読み込みにはread_csv()を利用する。

```python
[プログラム]
csv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.csv'
df=pd.read_csv(csv_file)
df
```

||店舗名|期首在庫数|売上数|仕入数|
|---|---|---|---|---|
|**0**|新宿店|100|50|100|
|**1**|池袋店|500|200|1000|
|**2**|銀座店|800|300|600|
|**3**|秋葉原店|300|100|500|
|**4**|大手町店|700|200|1000|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

#### 1.1.1(a) ヘッダー、カラムを指定

* ヘッダーやカラムに指定したい位置（インデック番号）を指定する

```python
[プログラム]
csv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.csv'
df=pd.read_csv(csv_file,index_col=0,header=0)
df
```

|**店舗名**|期首在庫数|売上数|仕入数|
|---|---|---|---|
|**新宿店**|100|50|100|
|**池袋店**|500|200|1000|
|**銀座店**|800|300|600|
|**秋葉原店**|300|100|500|
|**大手町店**|700|200|1000|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

#### 1.1.1(b) ヘッダー・カラムの指定無し

* header=Noneを指定する。

```python
[プログラム]
csv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.csv'
df=pd.read_csv(csv_file,index_col=None,header=None)
df
```

||0|1|2|3|
|---|---|---|---|---|
|**0**|店舗名|期首在庫数|売上数|仕入数|
|**1**|新宿店|100|50|100|
|**2**|池袋店|500|200|1000|
|**3**|銀座店|800|300|600|
|**4**|秋葉原店|300|100|500|
|**5**|大手町店|700|200|1000|

（コードを書いて実際に確認してみよう）

In [16]:
# （ここに記述）

#### 1.1.1(c) 任意のヘッダーを指定する

* namesを利用する。

```python
[プログラム]
csv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.csv'
df=pd.read_csv(csv_file, index_col=0, header=0,names=list(['店','在庫','売上','仕入']))
df
```

|**店**|在庫|売上|仕入|
|---|---|---|---|
|**新宿店**|100|50|100|
|**池袋店**|500|200|1000|
|**銀座店**|800|300|600|
|**秋葉原店**|300|100|500|
|**大手町店**|700|200|1000|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

#### 1.1.1(d) 列を絞って読み込む

```python
[プログラム]
csv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.csv'
df=pd.read_csv(csv_file, usecols=['店舗名','売上数'])
df
```

||店舗名|売上数|
|---|---|---|
|**0**|新宿店|50|
|**1**|池袋店|500|
|**2**|銀座店|300|
|**3**|秋葉原店|100|
|**4**|大手町店|200|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

    店舗名  売上数
0   新宿店   50
1   池袋店  200
2   銀座店  300
3  秋葉原店  100
4  大手町店  200

#### 1.1.1(e) TSVファイル読み込み

* セパレータにタブ（\t）を指定する。

```python
[プログラム]
tsv_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.tsv'
df=pd.read_csv(tsv_file, index_col=0,sep='\t')
df
```

||店舗名|期首在庫数|売上数|仕入数|
|---|---|---|---|---|
|**0**|新宿店|100|50|100|
|**1**|池袋店|500|200|1000|
|**2**|銀座店|800|300|600|
|**3**|秋葉原店|300|100|500|
|**4**|大手町店|700|200|1000|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.2 EXCEL読み込み

```python
[プログラム]
excel_file='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.xlsx'
df=pd.read_excel(excel_file)
df
```

||店舗名|期首在庫数|売上数|仕入数|
|---|---|---|---|---|
|**0**|新宿店|100|50|100|
|**1**|池袋店|500|200|1000|
|**2**|銀座店|800|300|600|
|**3**|秋葉原店|300|100|500|
|**4**|大手町店|700|200|1000|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

### 1.1.3 jsonデータ読み込み

#### JSONとは

* JSONとはJavaScriptObjectNotationの略。
* データ定義文をベースとした軽量なデータ記述言語の1つ。
* JavaScript専用のデータ形式ではなう。
* 複数の言語間で円滑にデータの受け渡せるうように設計。
* JSONの詳しい扱い方は公式ドキュメントを参照ください。
* json.org URL : https://www.json.org/jsonja.html

```python
json_file2='https://github.com/abenben/starproject-python/raw/master/sampledata/tutorial05/store.json'
df=pd.read_json(json_file2)
df
```

||期首在庫数|売上数|仕入数|
|---|---|---|---|
|新宿店|100|50|100|
|池袋店|500|200|1000|
|銀座店|800|300|600|

（コードを書いて実際に確認してみよう）

In [15]:
# （ここに記述）

### 1.1.4 Webサイト上の表を読み込む

* Webサイト上のテーブル(tableタグ)を読み込む
* 例：Yahoo!株価情報（銘柄：日立）
* 複数まとめて読み込んでくれる（株価は２つ目のテーブル）
```python
[プログラム]
from urllib.request import urlopen
url = 'https://stocks.finance.yahoo.co.jp/stocks/history/?code=6501.T'
f = urlopen(url)
html = f.read()
df = pd.io.html.read_html(html)
df[1]
```

||	日付|	始値|	高値|	安値|	終値|	出来高|	調整後終値*|
|--|--|--|--|--|--|--|--
|0	|2020年11月9日|	3548|	3606|	3548|	3591|	2175200|	3591|
|　：|：|：|：|：|：|：|：|

（コードを書いて実際に確認してみよう）

In [ ]:
# （ここに記述）

## 1.2 データのマージ

複数のデータフレームに含まれる特定のカラムを基に1つにまとめることをマージという。

pandasのマージはmerge()を利用する。

### 1.2.1 1対1のマージ（同じキー名）

同じキー名でマージする場合は、mege関数のonオプションを利用する。

```python
[プログラム1]
leftdf = pd.DataFrame({
    '身長':[165,181,173],
    '体重':[56,68,73],
    '名前':['鈴木洋子','田中二郎','鈴木一郎'],
})
leftdf
```

||身長|体重|名前|
|-|-|-|-|
|0|165|56|鈴木洋子|
|1|181|68|田中二郎|
|2|173|73|鈴木一郎|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム1]をここに記述）

```python
[プログラム2]
rightdf = pd.DataFrame({
    '名前':['鈴木洋子','田中二郎','鈴木一郎'],
    '国語':[87,86,65],
    '数学':[83,90,74],
})
rightdf
```

||名前|国語|数学|
|-|-|-|-|
|0|鈴木洋子|87|83|
|1|田中二郎|86|90|
|2|鈴木一郎|65|74|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム2]をここに記述）

```python
[プログラム3]
pd.merge(leftdf,rightdf,on='名前')
```

|身長|体重|名前|国語|数学|
|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|
|1|181|68|田中二郎|86|90|
|2|173|73|鈴木一郎|65|74|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム3]をここに記述）

### 1.2.2 1対1のマージ（キー名が異なる）

異なるキー名でマージする場合は、mege関数のleft_on,right_onオプションを利用する。

```python
[プログラム1]
leftdf = pd.DataFrame({
    '身長':[165,181,173],
    '体重':[56,68,73],
    '名前':['鈴木洋子','田中二郎','鈴木一郎'],
})
leftdf
```

||身長|体重|名前|
|-|-|-|-|
|0|165|56|鈴木洋子|
|1|181|68|田中二郎|
|2|173|73|鈴木一郎|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム1]をここに記述）

```python
[プログラム2]
rightdf = pd.DataFrame({
    '国語':[87,86,65],
    '数学':[83,90,74],
    '氏名':['鈴木洋子','田中二郎','鈴木一郎'],
})
rightdf
```

||国語|数学|氏名|
|-|-|-|-|
|0|87|83|鈴木洋子|
|1|86|90|田中二郎|
|2|65|74|鈴木一郎|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム2]をここに記述）

```python
[プログラム3]
pd.merge(leftdf,rightdf,left_on='名前',right_on='氏名')
```

||身長|体重|名前|国語|数学|氏名|
|-|-|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|鈴木洋子|
|1|181|68|田中二郎|86|90|田中二郎|
|2|173|73|鈴木一郎|65|74|鈴木一郎|

（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム3]をここに記述）

### 1.1.3 1対1のマージ（結合方法）

* 結合方法(merge関数のhowオプション）

|howオプション|概要|
|-|-|
|inner|内部結合、両方のデータフレームの積集合|
|outer|外部結合、両方のデータフレームの和集合|
|left|１番目のデータフレームのキーのみ使用|
|right|2番目のデータフレームのキーのみ使用|

```python
[プログラム1]
leftdf = pd.DataFrame({
    '身長':[165,181,173,160],
    '体重':[56,68,73,54],
    '名前':['鈴木洋子','田中二郎','鈴木一郎','斎藤美穂子'],
})
leftdf
```

||身長|体重|名前|
|-|-|-|-|
|0|165|56|鈴木洋子|
|1|181|68|田中二郎|
|2|173|73|鈴木一郎|
|3|160|54|鈴木一郎|

（コードを書いて実際に確認してみよう）

In [14]:
# （[プログラム1]をここに記述）

```python
[プログラム2]
rightdf = pd.DataFrame({
    '名前':['鈴木洋子','田中二郎','鈴木一郎','佐藤利夫'],
    '国語':[87,86,65,50],
    '数学':[83,90,74,61],
})
rightdf
```

||名前|国語|数学|
|-|-|-|-|
|0|鈴木洋子|87|83|
|1|田中二郎|86|90|
|2|鈴木一郎|65|74|
|3|佐藤利夫|50|61|

（コードを書いて実際に確認してみよう）

In [13]:
# （[プログラム2]をここに記述）

```python
[プログラム3]
pd.merge(leftdf,rightdf,on='名前',how='inner')
```

||身長|体重|名前|国語|数学|氏名|
|-|-|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|鈴木洋子|
|1|181|68|田中二郎|86|90|田中二郎|
|2|173|73|鈴木一郎|65|74|鈴木一郎|


（コードを書いて実際に確認してみよう）

In [ ]:
# （[プログラム3]をここに記述）

```python
[プログラム4]
pd.merge(leftdf,rightdf,on='名前',how='outer')
```

||身長|体重|名前|国語|数学|
|-|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|
|1|181|68|田中二郎|86|90|
|2|173|73|鈴木一郎|65|74|
|3|160|54|斎藤美穂子|NaN|NaN|
|4|NaN|NaN|佐藤利夫|50.0|61.0|

（コードを書いて実際に確認してみよう）

In [12]:
# （[プログラム4]をここに記述）

```python
[プログラム5]
pd.merge(leftdf,rightdf,on='名前',how='left')
```

||身長|体重|名前|国語|数学|
|-|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|
|1|181|68|田中二郎|86|90|
|2|173|73|鈴木一郎|65|74|
|3|160|54|斎藤美穂子|NaN|NaN|

（コードを書いて実際に確認してみよう）

In [10]:
# （[プログラム5]をここに記述）

```python
[プログラム6]
pd.merge(leftdf,rightdf,on='名前',how='right')
```

||身長|体重|名前|国語|数学|
|-|-|-|-|-|-|
|0|165|56|鈴木洋子|87|83|
|1|181|68|田中二郎|86|90|
|2|173|73|鈴木一郎|65|74|
|4|NaN|NaN|佐藤利夫|50.0|61.0|

（コードを書いて実際に確認してみよう）

In [11]:
# （[プログラム6]をここに記述）

## 1.3 データの集計

### 1.3.1 データのピボット集計

```python
[プログラム1]
np.random.seed(seed=1)
scores = np.random.randint(60, 100, size=50).reshape(10, 5)
subs = ['国語', '数学', '理科', '社会', '英語']
df = pd.DataFrame(scores,columns=subs)
df['部活'] = np.random.choice(['サッカー','野球', 'テニス'], size=10)
df['性別'] = np.random.choice(['男','女'], size=10)
df
```

|   |国語|数学|理科|社会|英語|  部活  |性別|
|--:|---:|---:|---:|---:|---:|--------|----|
|  0|  97|  72|  68|  69|  71|野球    |男  |
|  1|  65|  75|  60|  76|  61|野球    |女  |
|  2|  72|  67|  66|  85|  80|テニス  |女  |
|  3|  97|  78|  80|  71|  88|サッカー|女  |
|  4|  89|  74|  64|  83|  83|サッカー|男  |
|  5|  90|  92|  82|  73|  69|野球    |女  |
|  6|  67|  82|  61|  60|  77|テニス  |女  |
|  7|  68|  84|  73|  68|  90|テニス  |男  |
|  8|  67|  63|  66|  81|  63|野球    |女  |
|  9|  64|  84|  72|  86|  76|サッカー|女  |

（コードを書いて実際に確認してみよう）

In [110]:
# （[プログラム1]をここに記述）

```python
[プログラム2]
pd.pivot_table(df,index='性別',aggfunc=np.mean)
```

|   |国語 |数学 |理科 |社会 |英語 |
|---|----:|----:|----:|----:|----:|
|女 |74.57|77.29|69.57|76.00|73.43|
|男 |84.67|76.67|68.33|73.33|81.33|

（コードを書いて実際に確認してみよう）

In [111]:
# （[プログラム2]をここに記述）

```python
[プログラム3]
pd.pivot_table(df,index='性別',values='数学')
```

|   |数学 |
|---|----:|
|女 |77.29|
|男 |76.67|

（コードを書いて実際に確認してみよう）

In [112]:
# （[プログラム3]をここに記述）

```python
[プログラム4]
pd.pivot_table(df,index='性別',values=['数学','英語'])
```

|   |数学 |英語 |
|---|----:|----:|
|女 |77.29|73.43|
|男 |76.67|81.33|

（コードを書いて実際に確認してみよう）

In [113]:
# （[プログラム4]をここに記述）

```python
[プログラム5]
pd.pivot_table(df,index='部活',columns='性別',aggfunc=np.mean)
```

|        |('国語', '女')|('国語', '男')|('数学', '女')|('数学', '男')|('理科', '女')|('理科', '男')|('社会', '女')|('社会', '男')|('英語', '女')|('英語', '男')|
|--------|-------------:|-------------:|-------------:|-------------:|-------------:|-------------:|-------------:|-------------:|-------------:|-------------:|
|サッカー|          80.5|            89|         81.00|            74|         76.00|            64|         78.50|            83|         82.00|            83|
|テニス  |          69.5|            68|         74.50|            84|         63.50|            73|         72.50|            68|         78.50|            90|
|野球    |          74.0|            97|         76.67|            72|         69.33|            68|         76.67|            69|         64.33|            71|

（コードを書いて実際に確認してみよう）

In [114]:
# （[プログラム5]をここに記述）

```python
[プログラム6]
pd.pivot_table(df,index=['性別','部活'],aggfunc=np.mean)
```

|                  |国語|数学 |理科 |社会 |英語 |
|------------------|---:|----:|----:|----:|----:|
|('女', 'サッカー')|80.5|81.00|76.00|78.50|82.00|
|('女', 'テニス')  |69.5|74.50|63.50|72.50|78.50|
|('女', '野球')    |74.0|76.67|69.33|76.67|64.33|
|('男', 'サッカー')|89.0|74.00|64.00|83.00|83.00|
|('男', 'テニス')  |68.0|84.00|73.00|68.00|90.00|
|('男', '野球')    |97.0|72.00|68.00|69.00|71.00|

（コードを書いて実際に確認してみよう）

In [116]:
# （[プログラム6]をここに記述）

```python
[プログラム7]
pd.pivot_table(df,index=['性別','部活'],values='英語',aggfunc=[np.sum,np.max,np.min])
```

|                  |('sum', '英語')|('amax', '英語')|('amin', '英語')|
|------------------|--------------:|---------------:|---------------:|
|('女', 'サッカー')|            164|              88|              76|
|('女', 'テニス')  |            157|              80|              77|
|('女', '野球')    |            193|              69|              61|
|('男', 'サッカー')|             83|              83|              83|
|('男', 'テニス')  |             90|              90|              90|
|('男', '野球')    |             71|              71|              71|

（コードを書いて実際に確認してみよう）

In [117]:
# （[プログラム7]をここに記述）

```python
[プログラム8]
pd.pivot_table(df,index=['性別','部活'],aggfunc={'英語':np.max,'数学':np.mean})
```

|                  |('sum', '英語')|('amax', '英語')|('amin', '英語')|
|------------------|--------------:|---------------:|---------------:|
|('女', 'サッカー')|            164|              88|              76|
|('女', 'テニス')  |            157|              80|              77|
|('女', '野球')    |            193|              69|              61|
|('男', 'サッカー')|             83|              83|              83|
|('男', 'テニス')  |             90|              90|              90|
|('男', '野球')    |             71|              71|              71|

（コードを書いて実際に確認してみよう）

In [118]:
# （[プログラム8]をここに記述）

```python
[プログラム9]
pd.pivot_table(df,index='部活',values='数学',aggfunc=np.mean,margins=True)
```

|                  |('sum', '英語')|('amax', '英語')|('amin', '英語')|
|------------------|--------------:|---------------:|---------------:|
|('女', 'サッカー')|            164|              88|              76|
|('女', 'テニス')  |            157|              80|              77|
|('女', '野球')    |            193|              69|              61|
|('男', 'サッカー')|             83|              83|              83|
|('男', 'テニス')  |             90|              90|              90|
|('男', '野球')    |             71|              71|              71|

（コードを書いて実際に確認してみよう）

In [119]:
# （[プログラム9]をここに記述）

```python
[プログラム10]
pd.pivot_table(df,index='部活',columns='性別',values='数学',aggfunc=np.mean,margins=True)
```

|                  |('sum', '英語')|('amax', '英語')|('amin', '英語')|
|------------------|--------------:|---------------:|---------------:|
|('女', 'サッカー')|            164|              88|              76|
|('女', 'テニス')  |            157|              80|              77|
|('女', '野球')    |            193|              69|              61|
|('男', 'サッカー')|             83|              83|              83|
|('男', 'テニス')  |             90|              90|              90|
|('男', '野球')    |             71|              71|              71|

（コードを書いて実際に確認してみよう）

In [120]:
# （[プログラム10]をここに記述）

### 1.3.2 データのクロス集計

```python
[プログラム1]
import numpy as np
np.random.seed(seed = 1)
sex = np.random.choice(['男','女'], size=10)
eva = np.random.randint(70,100, size=10)
city = np.random.choice(['東京','大阪','名古屋'], size=10)
div = np.random.choice(['開発','営業','人事','販促'], size=10)
dic = {'営業所':city, '部門':div,'性別':sex, '評価':eva}
df = pd.DataFrame(dic)
df
```

|   |営業所|部門|性別|評価|
|--:|------|----|----|---:|
|  0|名古屋|開発|女  |  86|
|  1|大阪  |販促|女  |  71|
|  2|名古屋|販促|男  |  82|
|  3|東京  |営業|男  |  77|
|  4|東京  |営業|女  |  83|
|  5|名古屋|販促|女  |  98|
|  6|東京  |人事|女  |  76|
|  7|大阪  |開発|女  |  95|
|  8|名古屋|人事|女  |  88|
|  9|名古屋|営業|男  |  90|

（コードを書いて実際に確認してみよう）

In [127]:
# （[プログラム1]をここに記述）

```python
[プログラム2]
pd.crosstab(index=df['性別'],columns=df['営業所'])
```

|   |名古屋|大阪|東京|
|---|-----:|---:|---:|
|女 |     3|   2|   2|
|男 |     2|   0|   1|

（コードを書いて実際に確認してみよう）

In [128]:
# （[プログラム2]をここに記述）

```python
[プログラム3]
pd.crosstab(index=[df['性別'],df['営業所']],columns=df['部門'])
```

|                |人事|営業|販促|開発|
|----------------|---:|---:|---:|---:|
|('女', '名古屋')|   1|   0|   1|   1|
|('女', '大阪')  |   0|   0|   1|   1|
|('女', '東京')  |   1|   1|   0|   0|
|('男', '名古屋')|   0|   1|   1|   0|
|('男', '東京')  |   0|   1|   0|   0|

（コードを書いて実際に確認してみよう）

In [129]:
# （[プログラム3]をここに記述）

```python
[プログラム4]
pd.crosstab(index=[df['性別'],df['営業所']],columns=df['部門'],margins=True)
```

|                |人事|営業|販促|開発|All|
|----------------|---:|---:|---:|---:|--:|
|('女', '名古屋')|   1|   0|   1|   1|  3|
|('女', '大阪')  |   0|   0|   1|   1|  2|
|('女', '東京')  |   1|   1|   0|   0|  2|
|('男', '名古屋')|   0|   1|   1|   0|  2|
|('男', '東京')  |   0|   1|   0|   0|  1|
|('All', '')     |   2|   3|   3|   2| 10|

（コードを書いて実際に確認してみよう）

In [130]:
# （[プログラム4]をここに記述）

```python
[プログラム5]
pd.crosstab(index=df['性別'],columns=df['営業所'],values=df['評価'],aggfunc=np.mean)
```

|   |名古屋|大阪|東京|
|---|-----:|---:|---:|
|女 | 90.67|  83|79.5|
|男 | 86.00| NaN|77.0|

（コードを書いて実際に確認してみよう）

In [131]:
# （[プログラム5]をここに記述）

---
---
---
---
---
---
---
# 補足 Pythonの公式な言語リファレンス

* 公式なマニュアルはこちらですが、内容は難しいので最初はわかりやすい情報や、本などを参考にしましょう。
* 英語
 * https://docs.python.org/3/reference/index.html
* 日本語
 * https://docs.python.org/ja/3/reference/index.html